configuration {
    modi: "drun,run";
    show-icons: false;
    display-drun: "";
    display-run: "";
    display-filebrowser: "";
    display-window: "";
    drun-display-format: "{name}";
    window-format: "{w} · {c} · {t}";
    case-sensitive: false;
}

@theme "~/.config/rofi/themes/tokyo-night"
