*background: #171717
*foreground: #F6F6F6

! Black
*color0: #45475A
*color8: #585B70

! Red
*color1: #F38BA8
*color9: #F38BA8

! Green
*color2: #A6E3A1
*color10: #A6E3A1

! Yellow
*color3: #F9E2AF
*color11: #F9E2AF

! Blue
*color4: #89B4FA
*color12: #89B4FA

! Magenta
*color5: #f5c2e7
*color13: #f5c2e7

! Cyan
*color6: #94e2d5
*color14: #94e2d5

! White
*color7: #bac2de
*color15: #A6ADC8

! Font Rendering
Xft.antialias: 1
Xft.hinting: 1
Xft.rgba: rgb
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
